:root {
  --hex-width: 2;
  --hex-size-height: 1.1547;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  image-rendering: crisp-edges;
  image-rendering: optimizespeed;
  background: black;
  overflow: hidden;
  font-family: DejaVu Sans Mono, Consolas, SF Mono, Roboto Mono;
	color: white;
  user-select: none;
}

body.hidden canvas,
body.hidden #tileset {
  transition: opacity 0s;
  opacity: 0;
}

canvas, .tileset {
  transition: opacity 700ms ease-out;
}

canvas {
  position: absolute;
}

#tileset {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  transform: rotate(25deg);
}

.hex {
  --tile-color: #000000;
  --hex-size: 2.8vmin;
  --fade-time: 300ms;
  font-size: 1.4vmin;
  position: relative;
  display: inline-flex;
  width: calc(var(--hex-width) * var(--hex-size));
  height: calc(var(--hex-size-height) * var(--hex-size));
  margin: 0.8vmin 0.3vmin;
  opacity: 0.6;
}

.night {
  --tile-color: #b39007;
}
.hex::before, .hex::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(60deg);
  transform-origin: center;
}
.hex::after {
  content: attr(data-icon);
  color: rgb(0, 0, 0);
  transform: rotate(-60deg);
  text-align: center;
  font-size: 3vmin;
}
.hex, .hex::after, .hex::before {
  transition: all var(--fade-time) ease;
  background-color: var(--tile-color);
  box-sizing: border-box;
}
.hex:hover {
  --tile-color: rgb(233, 167, 69);
  cursor: pointer;
}
.hex.selected {
  --fade-time: 50ms;
  --tile-color: rgb(255, 253, 253);
  /* transform: rotate(35deg) scale(8) translate(-30%,10%); */
  opacity: 1;
  z-index: 1;
}
.hex.selected,
.hex.selected::after,
.hex.selected::before {
  transition-duration: 500ms;
}

.hex span {
  position: absolute;
  font-size: 2.3em;
  z-index: 1;
  display: block;
  width: 100%;
  text-align: center;
  transform-origin: bottom;
  animation: bounce 700ms alternate infinite;
  transform: rotate(-25deg) translateY(-16%) scale(1, 1);
  animation-timing-function: ease-in;
}

@keyframes bounce {
  from {
    transform: translate(10%,-20%) rotate(-25deg) scale(1, 1);
  }
  to {
    transform: translate(10%,-20%) rotate(-25deg) scale(1.2, 0.8);
  }
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.noise {
  z-index: 1;
  opacity: 0.15;
  pointer-events: none;
}


/* EARTH */
#earth {
	padding: 1vmin;
	background-color: black;
	width: 20vmin;
  height: 10vmin;
	border: solid #063680;
	border-width: 0 3px 3px 0;
	border-bottom-right-radius: 3vmin;
}

#earth .icon,
#earth .icon::before,
#earth .icon::after {
  position: relative;
	height: 5vmin;
	width: 5vmin;
  border-radius: 5vmin;
	background: radial-gradient(circle at top left, #bcbebf 30%, #063680 31%);
  overflow: hidden;
}

#earth .icon::before,
#earth .icon::after {
  content: "";
  display: inline-block;
  position: absolute;
	background: #b68929;
  top: 60%;
  width: 4vmin;
}

#earth .icon::after {
  top: -60%;
  right: 10%;
  width: 2vmin;
}

/* DIALOG */

#_dialog {
	background: #131212;
	position: fixed;
	padding: 1vmin;
  opacity: 0;
  transform: scale(2, 0);
  transition: all 100ms ease-out, top 0s 100ms;
  top: -999px;
  right: 5vh;
  max-width: 30vh;
  overflow: auto;
}

#_dialog.show {
  opacity: 1;
  top: 10vh;
  transition: all 100ms ease-out, top 0s;
  transform: scale(1, 1);
}

#_dialog div {
	display: inline-block;
}

#_dialog b {
  opacity: 0.5;
}

#_prompt {
	margin-right: 2vh;
}

.close {
  margin-left: 1vmin;
}

ul {
  padding: 0;
  list-style: none;
  max-height: 50vh;
  overflow: auto;
}

.button {
	padding: 0.7vmin;
	border: 1px solid;
	margin-bottom: 0.8vmin;
}

.button:hover {
  background: #999;
  color: #131212;
  cursor: pointer;
}

.button, #_dialog {
  border-radius: 3px;
}

#_input {
	display: block;
	width: 80%;
	margin: 5%;
	padding: 5%;
}


#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #131212;
}

#toolbar {
	position: fixed;
	top: 0;
	right: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 1vh;
	gap: 1vh;
}

[data-count]::after {
  content: ' ' attr(data-count);
}

[data-new]::after {
  content: '🔴';
  float: right;
}